<div class="container-fluid">
    <app-page-title title="Finance" ></app-page-title>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Purchase Orders</h4>
            
  
            <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Contract Number  </th>
                      <th>Invoice Date </th>
                      <th>PO Date</th>
                      <th>Payment Date</th>
                      <th>Payment Number</th>
                      <th>Supplier  </th>
                      <th>Amount  </th>
                      <th>File</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let file of updatedFiles">
                      <th scope="row">{{file.code}}</th>
                      <td>{{file.contractNumber}}</td>
                      <td>{{file.invoiceDate?.year}}-{{file.invoiceDate?.month}}-{{file.invoiceDate?.day}}</td>
                      <td>{{file.poDate?.year}}-{{file.poDate?.month}}-{{file.poDate?.day}}</td>
                      <td>{{file.paymentDate?.year}}-{{file.paymentDate?.month}}-{{file.paymentDate?.day}}</td>
                      <td>{{file.paymentNumber}}</td>
                      <td>{{file.supplier}}</td>
                      <td>{{file.amount | number:'1.2-2'}}</td>
                      <td>{{file.filePath}}</td>
                    </tr> 
                  </tbody>
                </table>
              </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  