<div class="container-fluid">
    <app-page-title title="Human Resources" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Personal Records.</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                    </div>
                </div>
            </div>  
  
            <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Employee Number  </th>
                      <th>date of Birth </th>
                      <th>Contract Start </th>
                      <th>Contract End</th>
                      <th>Name</th>
                      <th>Permanent/Contract</th>
                      <th>Position</th>
                      <th>File</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let file of updatedFiles">
                      <th scope="row">{{file.code}}: {{file.idNumber}}</th>
                      <td>{{file.employeeNumber}}</td>
                      <td>{{file.dob?.year}}-{{file.dob?.month}}-{{file.dob?.day}}</td>
                      <td>{{file.contractStart?.year}}-{{file.contractStart?.month}}-{{file.contractStart?.day}}</td>
                      <td>{{file.contractEnd?.year}}-{{file.contractEnd?.month}}-{{file.contractEnd?.day}}</td>
                      <td>{{file.firstName}} {{file.lastName}}</td>
                      <td>{{file.permOrContract}}</td>
                      <td>{{file.position}}</td> 
                      <td>{{file.filePath}}</td>
                      
                    </tr> 
                  </tbody>
                </table>
              </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  