<div class="container-fluid">
    <app-page-title title="Procurement" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contracts</h4>
            
  
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Contract Number  </th>
                    <th>Contract Start </th>
                    <th>Remaining Months</th>
                    <th>Extension</th>
                    <th>Supplier</th>
                    <th>Contract Amount</th>
                    <th>File</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of updatedFiles">
                    <th scope="row">{{file.code}}</th>
                    <td>{{file.contractNumber}}</td>
                    <td>{{file.contractStart.year}}-{{file.contractStart.month}}-{{file.contractStart.day}}</td>
                    <td>{{file.monthsRemaining}}</td>
                    <td>{{file.extEndDate?.year}}-{{file.extEndDate?.month}}-{{file.extEndDate?.day}}</td>
                    <td>{{file.supplier}}</td>
                    <td>{{file.contractAmount}}</td>
                    <td>{{file.filePath}}</td>
                  </tr> 
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  